*{
    margin: 0;
    box-sizing: border-box;

    /* display: block; */
}

body {
    width: 100%;
    height: 100vh;
}

body::before{
    z-index: -1;
    content: ' ';
    height: 100%;
    width: 100%;
    position: fixed;
    background: url("https://cdn.theatlantic.com/thumbor/jrjKK6reUBMFSqIA8RLVwzyebeE=/600x401/media/img/photo/2021/02/mount-etna/a01_AP21048435474217/original.jpg") no-repeat center;
    background-size: cover;
    opacity: 0.8;
}


a:visited{
    color:chocolate;
}

a:hover{
    color:midnightblue;
    
}

#menu {
    padding: 8px;
    transition: top 0.3s;
    
}

#menu{
position: sticky;
width: 100%;
background-color: #333;
}

#menu ul {
    display: flex;
    list-style-type: none;
}

#menu ul li{
    
    margin-right: 1em;
}

#menu a:hover {
    background-color: #ddd;
    color:black
}

header{

    display: flex;
    justify-content: space-between;
}
header h1{
    margin-left: 1em;
}
main{
    flex:1;
    padding: 1em
    ;
}

