main{
    flex: 1;
}

    #contact { 
        /* display: flex; */
        flex-direction: column;
        align-items: flex-start;
    }

footer{
    
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
/* header{
     margin-bottom: 1em;
} */

.icon_box{
    width: 100%;
    display: flex;
    
}

    .icon_item{

        position: relative;
        width: 50px;
        height: 50px;
    }

label{
    display: flex;
}
textarea{
    min-width: 326px;
    min-height: 100px;
}
input[value=Valider]{
    margin-top: 1.5em;
    margin-left: 8em;
}
input[type=text]{
    margin-bottom: 1em;
}   
